body{
    margin: 0;
    list-style: none;
}
*{
    box-sizing: border-box;
    user-select: none;
}
li{
    list-style: none;
}

header img{
    width: 120px;
    height: 50px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#eee;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 9999;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.menu li {
    list-style: none;
}

nav .menu li a{
    /* padding-left: 30px; */
    padding-top: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #5f6368;
    font-weight: 400;
    padding: 12px;
}

nav .menu li a:hover{
    box-shadow: 0px 0px 10px ;
    border-radius: 5px;
} 

nav .menu li:nth-child(2) a{
    box-shadow: 0px 0px 10px ;
    border-radius: 5px;
    /* border-bottom: solid 2px red; */
} 



/* 로그인 버튼  */

.menu1{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
}

nav .menu1 a{
    padding-left: 30px;
    padding-top: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    /* border-radius: 10px; */
    background-color: #7dd3fc;
    font-weight: 400;
    padding: 12px;
}

nav .menu1 a:hover{
    background-color: #0284c7;
    /* border-radius: 10px; */
    color: #000;
    
}   

ul{list-style:none; }
.menu1:after{display:block; content:''; clear:both;}
.menu1 > li{position:relative; float:left; }
.menu1 > li > a{display:block; padding:0 15px;  height:40px; line-height:40px; color:#fff;}
.menu1 > li:hover .depth_1 {display:block;}


.menu1 .depth_1{
    display:none; 
    position:absolute; 
    left:0; 
    right:0; 
    text-align:center; 
    padding: 0px;
}


.menu1 .depth_1 a{
    display:block; 
    padding:5px; 
    background:#666; 
    color:#fff;
    
}

/* 캠핑장 구성 */
#soge{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:  150px;
    margin-top: 200px;
}

#soge img{
    width: 634px;
    height: 634px;
    margin: auto;
    border-radius: 100px;
}

.floor{
    position: relative;
    /* float: right; */
    align-items: center;
    /* margin: 0 30px; */
    width:75%;
}
.img1{
    width: 900px;
    height: 500PX;
    position: absolute;
    top: 20px;
    right: -100px;
    z-index: 9;
}
/* .back{
    width: 900px;
    height: 500PX;
    position:relative;
    top: 100px;
    right: 0px;
    background-color: #d1d5db;
} */
.img2{
    width: 900px;
    height: 500PX;
    position:relative;
    top: 100px;
    right: 0px;
}

.so ul{
  margin: 0;
}

.so h1{
    color: #60a5fa;
    font-size: 50px;
}
.so li{
    font-size: 20px;
}



.bach img{
    /* transform: rotate(90deg); */
    width: 1024px;
    height: 768px;
    margin-left: 22%;
}

#rule{
    background-color: #e2e2e2;
}

.ru {
    padding-left: 100px;
}

.ru h1{
    font-size: 35ㅔㅌ;
    padding-left: 30px ;
}